{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <!-- Bootstrap CSS -->
    <link  href="{% static 'userstatic/bootstrap.min.css' %}" rel="stylesheet">
    <link  href="{% static 'userstatic/owl.carousel.min.css' %}" rel="stylesheet">
    <link  href="{% static 'userstatic/owl.theme.default.min.css' %}" rel="stylesheet">
    <link  href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link  href="{% static 'userstatic/style.css' %}" rel="stylesheet">

    <title>Reviews Template</title>
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="70">
    <div class="top-nav" id="home">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <p> <i class='bx bxs-envelope'></i>info@codebook.in</p>
                    <p> <i class='bx bxs-phone-call'></i>8555887986</p>
                </div>
                <div class="col-auto social-icons">
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a>
                    <a href="#"><i class='bx bxl-instagram'></i></a>
                    <a href="#"><i class='bx bxl-pinterest'></i></a>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
        <div class="container">
            <a class="navbar-brand" href="#">Reviews Analyzer<span class="dot">.</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_portfolio' %}">Portfolio</a>
                    </li>
                </ul>
                <a href="{% url 'user_login'%}" class="btn btn-brand">Login</a>
            </div>
        </div>
    </nav>
<form method='POST' enctype="multipart/form-data">
    {% csrf_token %}
<section id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 py-5">
                <div class="row">
                    <div class="col-12">
                        <div class="info-box">
                            <img src="{% static 'userstatic/icon1.png' %}" alt="">
                            <div class="ms-4">
                                <h5>Social Media</h5>
                                <p>It is a long established fact that a reader will be distracted by the readable
                                    content of a page </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <div class="info-box">
                            <img src="{% static 'userstatic/icon2.png' %}" alt="">
                            <div class="ms-4">
                                <h5>Comunication</h5>
                                <p>It is a long established fact that a reader will be distracted by the readable
                                    content of a page </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <div class="info-box">
                            <img src="{% static 'userstatic/icon3.png' %}" alt="">
                            <div class="ms-4">
                                <h5>Finance</h5>
                                <p>It is a long established fact that a reader will be distracted by the readable
                                    content of a page </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <div class="info-box">
                            <img src="{% static 'userstatic/icon4.png' %}" alt="">
                            <div class="ms-4">
                                <h5>Games</h5>
                                <p>It is a long established fact that a reader will be distracted by the readable
                                    content of a page </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <div class="info-box">
                            <img src="{% static 'userstatic/icon5.png' %}" alt="">
                            <div class="ms-4">
                                <h5>Education</h5>
                                <p>It is a long established fact that a reader will be distracted by the readable
                                    content of a page </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <div class="info-box">
                            <img src="{% static 'userstatic/icon6.png' %}" alt="">
                            <div class="ms-4">
                                <h5>Entertinment</h5>
                                <p>It is a long established fact that a reader will be distracted by the readable
                                    content of a page </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <img src="{% static 'userstatic/anu.jpg' %}" alt="">
            </div>
        </div>
    </div>
    <section id="milestone">
        <div class="container">
            <div class="row text-center justify-content-center gy-4">
                <div class="col-lg-2 col-sm-6">
                    <h1 class="display-4">90K+</h1>
                    <p class="mb-0">Happy Clients</p>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <h1 class="display-4">45M</h1>
                    <p class="mb-0">Lines of code</p>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <h1 class="display-4">190</h1>
                    <p class="mb-0">Total Downloads</p>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <h1 class="display-4">380K</h1>
                    <p class="mb-0">YouTube Subscribers</p>
                </div>
            </div>
        </div>
    </section>
</section>
</form>
<footer>
    <div class="footer-top text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h4 class="navbar-brand">Reviews<span class="dot">.</span></h4>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical Latin literature from</p>
                    <div class="col-auto social-icons">
                        <a href="#"><i class='bx bxl-facebook'></i></a>
                        <a href="#"><i class='bx bxl-twitter'></i></a>
                        <a href="#"><i class='bx bxl-instagram'></i></a>
                        <a href="#"><i class='bx bxl-pinterest'></i></a>
                    </div>
                    <div class="col-auto conditions-section">
                        <a href="#">privacy</a>
                        <a href="#">terms</a>
                        <a href="#">disclaimer</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center">
        <p class="mb-0">Copyright vicpra 2022. All rights Reserved</p> Distributed By Codebook
    </div>
</footer>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>