{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <!-- Bootstrap CSS -->
    <link  href="{% static 'userstatic/bootstrap.min.css' %}" rel="stylesheet">
    <link  href="{% static 'userstatic/owl.carousel.min.css' %}" rel="stylesheet">
    <link  href="{% static 'userstatic/owl.theme.default.min.css' %}" rel="stylesheet">
    <link  href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link  href="{% static 'userstatic/style.css' %}" rel="stylesheet">
    <link  href="{% static 'userstatic/reg.js' %}" rel="stylesheet">
    <link  href="{% static 'userstatic/reg1.js' %}" rel="stylesheet">
    <link  href="{% static 'userstatic/reg.css' %}" rel="stylesheet">
    
    <title>Reviews Template</title>
</head>
<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="70">
  <div class="top-nav" id="home">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-auto">
                <p> <i class='bx bxs-envelope'></i>info@codebook.in</p>
                <p> <i class='bx bxs-phone-call'></i>8555887986</p>
            </div>
            <div class="col-auto social-icons">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-instagram'></i></a>
                <a href="#"><i class='bx bxl-pinterest'></i></a>
            </div>
        </div>
    </div>
</div>
  <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
    <div class="container">
        <a class="navbar-brand" href="#">Reviews Analyzer<span class="dot">.</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'user_index' %}">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'user_about' %}">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'user_portfolio' %}">Portfolio</a>
              </li>
          </ul>
          <a href="{% url 'user_login'%}" class="btn btn-brand">Login</a>
      </div>
  </div>
  </nav>

<section>
<form method="post"  enctype="multipart/form-data">
    {% csrf_token %}
  <div class=" d-flex align-items-center h-50 bg-white" >
    <div class="container h-50">
      <div class="row d-flex justify-content-center align-items-center h-50 ">
        <div class="col-lg-5">
          <img src="{% static 'userstatic/anu2.jpg' %}" alt="">
        </div>
        <div class="col-5 col-md-4 col-xl-0">
          <div class="card" style="border-radius: 15px;">
            
            <div class="card-body p-3">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>
              <form>
                 <div class="row mt-3">
                  <label class="form-label" for="form3Example1cg">Full name</label>
                  <input type="text" id="form3Example1cg" name="First_name" class="form-control form-control-lg"/>
                </div>
                <div class="form-outline mb-2">
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                  <input type="email" id="form3Example3cg" name="Email" class="form-control form-control-lg" />
                </div>
                <div class="form-outline mb-2">
                  <label class="form-label" for="form3Example4cg">Password</label>
                  <input type="password" id="form3Example4cg" name="Password1" class="form-control form-control-lg" />
                </div>
                <div class="form-outline mb-2"></div>
                  <label class="form-label" for="form3Example4cg">Contact</label>
                  <input type="text" class="form-control" name="Contact" value="" placeholder="Phone number">
                </div>
                <div class="form-group text-center">
                  <label for="profilePicture" class="d-block mb-3">Profile Picture</label>
                  <input type="file" class="custom-file-input" id="profilePicture" name="image" accept="image/*">
                </div>
                <div class="form-group d-flex justify-content-center">
                  <button type="submit"  class="orange-btn text-white">Register</button>
              </div> 
              <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="{% url 'user_login'%}"
                class="fw-bold text-body"><u>Login here</u></a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
</section>
<footer>
  <div class="footer-top text-center">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-6 text-center">
                  <h4 class="navbar-brand">Reviews<span class="dot">.</span></h4>
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                      classical Latin literature from</p>
                  <div class="col-auto social-icons">
                      <a href="#"><i class='bx bxl-facebook'></i></a>
                      <a href="#"><i class='bx bxl-twitter'></i></a>
                      <a href="#"><i class='bx bxl-instagram'></i></a>
                      <a href="#"><i class='bx bxl-pinterest'></i></a>
                  </div>
                  <div class="col-auto conditions-section">
                      <a href="#">privacy</a>
                      <a href="#">terms</a>
                      <a href="#">disclaimer</i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="footer-bottom text-center">
      <p class="mb-0">Copyright Codebook.in 2023. All rights Reserved</p> Distributed By Codebook
  </div>
</footer>
</section>
    <script src="{% static 'userstatic/jquery.min.js' %}"></script>
    <script src="{% static 'userstatic/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'userstatic/owl.carousel.min.js' %}"></script>
    <script src="{% static 'userstatic/app.js' %}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  {% if messages %}
  {% for message in messages %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
  <script>swal({
          title: "Success!",
          text: "{{message}}",
          icon: "success",
          button: "OK",
      });
  </script>
  
  {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
  <script>swal({
          title: "Warning :)",
          text: "{{message}}",
          icon: "warning",
          button: "OK",
       
      });
  </script>
  {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
  <script>swal({
          title: "info :)",
          text: "{{message}}",
          icon: "info",
          button: "OK",
      });
  </script>
  {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
  <script>swal({
          title: "error :)",
          text: "{{message}}",
          icon: "error",
          button: "OK",
      });
  </script>
  {% endif %}
  {% endfor %}
  {% endif %}
</body>
</html>


    

   

                           
                 